.cart {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.cart .div-3 {
  background-color: var(--secondary);
  border-radius: 4px;
  height: 250px;
  overflow: hidden;
  position: relative;
  width: 270px;
}

.cart .add-to-cart-wrapper {
  background-color: #000000;
  border-radius: 0px 0px 4px 4px;
  height: 41px;
  left: 0;
  position: absolute;
  top: 209px;
  width: 270px;
}

.cart .cart-1 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.cart .text-wrapper-10 {
  color: #ffffff;
  font-family: var(--title-12px-regular-font-family);
  font-size: var(--title-12px-regular-font-size);
  font-style: var(--title-12px-regular-font-style);
  font-weight: var(--title-12px-regular-font-weight);
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.cart .overlap-group-2 {
  top: 12px;
}

.cart .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 0;
}

.cart .instance-node-2 {
  height: 24px !important;
  left: 5px !important;
  position: absolute !important;
  top: 5px !important;
  width: 24px !important;
}

.cart .instance-node-3 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.cart .frame-11 {
  height: 180px;
  position: absolute;
  width: 190px;
}

.cart .element-cst {
  position: absolute;
}

.cart .curology {
  height: 159px;
  left: 9px;
  position: absolute;
  top: 34px;
  width: 172px;
}

.cart .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.cart .gucci-duffle-bag {
  color: #000000;
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13 {
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.cart .element-5 {
  position: relative;
}

.cart .element-6 {
  color: var(--secondary-2);
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.cart .element-7 {
  position: relative;
}

.cart .instance-node-4 {
  flex: 0 0 auto !important;
  height: unset !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: unset !important;
}

.cart .element-8 {
  color: var(--text-2);
  font-family: var(--title-14px-semibold-font-family);
  font-size: var(--title-14px-semibold-font-size);
  font-style: var(--title-14px-semibold-font-style);
  font-weight: var(--title-14px-semibold-font-weight);
  height: 20px;
  letter-spacing: var(--title-14px-semibold-letter-spacing);
  line-height: var(--title-14px-semibold-line-height);
  margin-top: -1px;
  opacity: 0.5;
  position: relative;
  white-space: nowrap;
}

.cart .element-9 {
  color: var(--text-2);
  font-family: var(--title-14px-semibold-font-family);
  font-size: var(--title-14px-semibold-font-size);
  font-style: var(--title-14px-semibold-font-style);
  font-weight: var(--title-14px-semibold-font-weight);
  height: 20px;
  letter-spacing: var(--title-14px-semibold-letter-spacing);
  line-height: var(--title-14px-semibold-line-height);
  margin-top: -1px;
  opacity: 0.5;
  position: relative;
  white-space: nowrap;
}

.cart .instance-node-5 {
  flex: 0 0 auto !important;
}

.cart .text-wrapper-11 {
  color: var(--text-2);
  font-family: var(--title-14px-semibold-font-family);
  font-size: var(--title-14px-semibold-font-size);
  font-style: var(--title-14px-semibold-font-style);
  font-weight: var(--title-14px-semibold-font-weight);
  height: 20px;
  letter-spacing: var(--title-14px-semibold-letter-spacing);
  line-height: var(--title-14px-semibold-line-height);
  margin-top: -1px;
  opacity: 0.5;
  position: relative;
  white-space: nowrap;
  width: 32px;
}

.cart .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.cart .class {
  background-color: #fa1214 !important;
}

.cart .class-2 {
  background-color: #eeff61 !important;
}

.cart .class-3 {
  background-color: var(--text-2) !important;
}

.cart .class-4 {
  background-color: #184947 !important;
}

.cart .product-bestselling-cooling-fan {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-kids-car-with-color-choosing {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-dog-food-no-discount {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-jacket-with-wishlist {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 84px;
  position: relative;
  top: 8px;
}

.cart .product-soccer-boat-color-choosing {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-wishlist-cart-with-discount {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 84px;
  position: relative;
  top: 8px;
}

.cart .product-just-for-your-cart-monitor {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-just-for-your-cart-bag {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-product-5 {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-bestselling-guccibag {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-dslr-camera-no-discount {
  color: #ffffff;
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  left: 87px;
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.cart .product-gaming-control-color-choosing {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-gamepad-wishlist {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 84px;
  position: relative;
  top: 8px;
}

.cart .product-bestselling-coat {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-man-jacket-color-choosing {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-cart {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-just-for-your-cart-keyboard {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-just-for-your-cart-gamepad {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-cart-with-colour-chose {
  color: #ffffff;
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  left: 87px;
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.cart .product-bestselling-bookself {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-beauty-product-no-discount {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-wishlist-cart-with-no-discount {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 84px;
  position: relative;
  top: 8px;
}

.cart .product-cart-hover {
  color: #ffffff;
  font-family: var(--title-12px-regular-font-family);
  font-size: var(--title-12px-regular-font-size);
  font-style: var(--title-12px-regular-font-style);
  font-weight: var(--title-12px-regular-font-weight);
  left: 99px;
  letter-spacing: var(--title-12px-regular-letter-spacing);
  line-height: var(--title-12px-regular-line-height);
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.cart .product-laptop-no-discount {
  left: 85px;
  position: relative;
  top: 9px;
}

.cart .product-cart-with-no-discount {
  color: #ffffff;
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  left: 87px;
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  position: absolute;
  top: 7px;
  white-space: nowrap;
}

.cart .product-0-bestselling-cooling-fan {
  height: 203px;
  left: 40px;
  position: relative;
  width: 218px;
}

.cart .product-0-kids-car-with-color-choosing {
  height: 203px;
  left: 12px;
  position: relative;
  width: 246px;
}

.cart .product-0-dog-food-no-discount {
  height: 203px;
  left: 40px;
  position: relative;
  width: 218px;
}

.cart .product-0-jacket-with-wishlist {
  height: 190px;
  left: 40px;
  position: absolute;
  width: 218px;
}

.cart .product-0-soccer-boat-color-choosing {
  height: 203px;
  left: 40px;
  position: relative;
  width: 218px;
}

.cart .product-0-wishlist-cart-with-discount {
  height: 183px;
  left: 12px;
  position: absolute;
  width: 246px;
}

.cart .product-0-just-for-your-cart-monitor {
  height: 190px;
  left: 40px;
  position: absolute;
  width: 218px;
}

.cart .product-0-just-for-your-cart-bag {
  height: 190px;
  left: 12px;
  position: absolute;
  width: 246px;
}

.cart .product-0-product-5 {
  height: 203px;
  left: 12px;
  position: relative;
  width: 246px;
}

.cart .product-0-bestselling-guccibag {
  height: 203px;
  left: 40px;
  position: relative;
  width: 218px;
}

.cart .product-0-dslr-camera-no-discount {
  height: 183px;
  left: 36px;
  position: absolute;
  width: 222px;
}

.cart .product-0-gaming-control-color-choosing {
  height: 203px;
  left: 12px;
  position: relative;
  width: 246px;
}

.cart .product-0-gamepad-wishlist {
  height: 190px;
  left: 40px;
  position: absolute;
  width: 218px;
}

.cart .product-0-bestselling-coat {
  height: 203px;
  left: 40px;
  position: relative;
  width: 218px;
}

.cart .product-0-man-jacket-color-choosing {
  height: 203px;
  left: 40px;
  position: relative;
  width: 218px;
}

.cart .product-0-cart {
  height: 203px;
  left: 12px;
  position: relative;
  width: 246px;
}

.cart .product-0-just-for-your-cart-keyboard {
  height: 190px;
  left: 40px;
  position: absolute;
  width: 218px;
}

.cart .product-0-just-for-your-cart-gamepad {
  height: 190px;
  left: 12px;
  position: absolute;
  width: 246px;
}

.cart .product-0-cart-with-colour-chose {
  height: 183px;
  left: 12px;
  position: absolute;
  width: 246px;
}

.cart .product-0-bestselling-bookself {
  height: 203px;
  left: 40px;
  position: relative;
  width: 218px;
}

.cart .product-0-beauty-product-no-discount {
  height: 203px;
  left: 40px;
  position: relative;
  width: 218px;
}

.cart .product-0-wishlist-cart-with-no-discount {
  height: 186px;
  left: 40px;
  position: absolute;
  width: 218px;
}

.cart .product-0-cart-hover {
  height: 183px;
  left: 12px;
  position: absolute;
  width: 246px;
}

.cart .product-0-laptop-no-discount {
  height: 203px;
  left: 40px;
  position: relative;
  width: 218px;
}

.cart .product-0-cart-with-no-discount {
  height: 183px;
  left: 12px;
  position: absolute;
  width: 246px;
}

.cart .product-4-bestselling-cooling-fan {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-kids-car-with-color-choosing {
  align-items: center;
  gap: 8px;
}

.cart .product-4-dog-food-no-discount {
  align-items: center;
  gap: 8px;
}

.cart .product-4-jacket-with-wishlist {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-soccer-boat-color-choosing {
  align-items: center;
  gap: 8px;
}

.cart .product-4-wishlist-cart-with-discount {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-just-for-your-cart-monitor {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-just-for-your-cart-bag {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-product-5 {
  align-items: center;
  gap: 8px;
}

.cart .product-4-bestselling-guccibag {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-dslr-camera-no-discount {
  align-items: center;
  gap: 8px;
}

.cart .product-4-gaming-control-color-choosing {
  align-items: center;
  gap: 8px;
}

.cart .product-4-gamepad-wishlist {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-bestselling-coat {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-man-jacket-color-choosing {
  align-items: center;
  gap: 8px;
}

.cart .product-4-cart {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-just-for-your-cart-keyboard {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-just-for-your-cart-gamepad {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-cart-with-colour-chose {
  align-items: center;
  gap: 8px;
}

.cart .product-4-bestselling-bookself {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-beauty-product-no-discount {
  align-items: center;
  gap: 8px;
}

.cart .product-4-wishlist-cart-with-no-discount {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-cart-hover {
  align-items: flex-start;
  gap: 12px;
}

.cart .product-4-laptop-no-discount {
  align-items: center;
  gap: 8px;
}

.cart .product-4-cart-with-no-discount {
  align-items: center;
  gap: 8px;
}

.cart .overlap-group-2.product-0-bestselling-cooling-fan .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-kids-car-with-color-choosing .frame-10 {
  left: 212px;
}

.cart .overlap-group-2.product-0-dog-food-no-discount .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-jacket-with-wishlist .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-soccer-boat-color-choosing .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-wishlist-cart-with-discount .frame-10 {
  left: 212px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-monitor .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-bag .frame-10 {
  left: 212px;
}

.cart .overlap-group-2.product-0-product-5 .frame-10 {
  left: 212px;
}

.cart .overlap-group-2.product-0-bestselling-guccibag .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-dslr-camera-no-discount .frame-10 {
  left: 188px;
}

.cart .overlap-group-2.product-0-gaming-control-color-choosing .frame-10 {
  left: 212px;
}

.cart .overlap-group-2.product-0-gamepad-wishlist .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-bestselling-coat .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-man-jacket-color-choosing .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-cart .frame-10 {
  left: 212px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-keyboard .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-gamepad .frame-10 {
  left: 212px;
}

.cart .overlap-group-2.product-0-cart-with-colour-chose .frame-10 {
  left: 212px;
}

.cart .overlap-group-2.product-0-bestselling-bookself .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-beauty-product-no-discount .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-wishlist-cart-with-no-discount .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-cart-hover .frame-10 {
  left: 212px;
}

.cart .overlap-group-2.product-0-laptop-no-discount .frame-10 {
  left: 184px;
}

.cart .overlap-group-2.product-0-cart-with-no-discount .frame-10 {
  left: 212px;
}

.cart .overlap-group-2.product-0-bestselling-cooling-fan .frame-11 {
  left: 0;
  top: 23px;
}

.cart .overlap-group-2.product-0-kids-car-with-color-choosing .frame-11 {
  left: 28px;
  top: 23px;
}

.cart .overlap-group-2.product-0-dog-food-no-discount .frame-11 {
  left: 0;
  top: 23px;
}

.cart .overlap-group-2.product-0-jacket-with-wishlist .frame-11 {
  left: 0;
  top: 10px;
}

.cart .overlap-group-2.product-0-soccer-boat-color-choosing .frame-11 {
  left: 0;
  top: 23px;
}

.cart .overlap-group-2.product-0-wishlist-cart-with-discount .frame-11 {
  left: 28px;
  top: 3px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-monitor .frame-11 {
  left: 0;
  top: 10px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-bag .frame-11 {
  left: 28px;
  top: 10px;
}

.cart .overlap-group-2.product-0-product-5 .frame-11 {
  left: 28px;
  top: 23px;
}

.cart .overlap-group-2.product-0-bestselling-guccibag .frame-11 {
  left: 0;
  top: 23px;
}

.cart .overlap-group-2.product-0-dslr-camera-no-discount .frame-11 {
  left: 0;
  top: 3px;
}

.cart .overlap-group-2.product-0-gaming-control-color-choosing .frame-11 {
  left: 28px;
  top: 23px;
}

.cart .overlap-group-2.product-0-gamepad-wishlist .frame-11 {
  left: 0;
  top: 10px;
}

.cart .overlap-group-2.product-0-bestselling-coat .frame-11 {
  left: 0;
  top: 23px;
}

.cart .overlap-group-2.product-0-man-jacket-color-choosing .frame-11 {
  left: 0;
  top: 23px;
}

.cart .overlap-group-2.product-0-cart .frame-11 {
  left: 28px;
  top: 23px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-keyboard .frame-11 {
  left: 0;
  top: 10px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-gamepad .frame-11 {
  left: 28px;
  top: 10px;
}

.cart .overlap-group-2.product-0-cart-with-colour-chose .frame-11 {
  left: 28px;
  top: 3px;
}

.cart .overlap-group-2.product-0-bestselling-bookself .frame-11 {
  left: 0;
  top: 23px;
}

.cart .overlap-group-2.product-0-beauty-product-no-discount .frame-11 {
  left: 0;
  top: 23px;
}

.cart .overlap-group-2.product-0-wishlist-cart-with-no-discount .frame-11 {
  left: 0;
  top: 6px;
}

.cart .overlap-group-2.product-0-cart-hover .frame-11 {
  left: 28px;
  top: 3px;
}

.cart .overlap-group-2.product-0-laptop-no-discount .frame-11 {
  left: 0;
  top: 23px;
}

.cart .overlap-group-2.product-0-cart-with-no-discount .frame-11 {
  left: 28px;
  top: 3px;
}

.cart .overlap-group-2.product-0-bestselling-cooling-fan .element-cst {
  height: 95px;
  left: 0;
  top: 47px;
  width: 190px;
}

.cart .overlap-group-2.product-0-kids-car-with-color-choosing .element-cst {
  height: 133px;
  left: 5px;
  top: 24px;
  width: 180px;
}

.cart .overlap-group-2.product-0-dog-food-no-discount .element-cst {
  height: 180px;
  left: 38px;
  top: 0;
  width: 115px;
}

.cart .overlap-group-2.product-0-jacket-with-wishlist .element-cst {
  height: 176px;
  left: 4px;
  top: 2px;
  width: 182px;
}

.cart .overlap-group-2.product-0-soccer-boat-color-choosing .element-cst {
  height: 164px;
  left: 2px;
  top: 8px;
  width: 186px;
}

.cart .overlap-group-2.product-0-wishlist-cart-with-discount .element-cst {
  height: 129px;
  left: 6px;
  top: 26px;
  width: 178px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-monitor .element-cst {
  height: 129px;
  left: 10px;
  top: 26px;
  width: 170px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-bag .element-cst {
  height: 166px;
  left: 16px;
  top: 7px;
  width: 158px;
}

.cart .overlap-group-2.product-0-product-5 .element-cst {
  height: 129px;
  left: 6px;
  top: 26px;
  width: 178px;
}

.cart .overlap-group-2.product-0-bestselling-guccibag .element-cst {
  height: 129px;
  left: 6px;
  top: 26px;
  width: 178px;
}

.cart .overlap-group-2.product-0-dslr-camera-no-discount .element-cst {
  height: 163px;
  left: 22px;
  top: 8px;
  width: 146px;
}

.cart .overlap-group-2.product-0-gaming-control-color-choosing .element-cst {
  height: 150px;
  left: 6px;
  top: 15px;
  width: 178px;
}

.cart .overlap-group-2.product-0-gamepad-wishlist .element-cst {
  height: 150px;
  left: 6px;
  top: 15px;
  width: 178px;
}

.cart .overlap-group-2.product-0-bestselling-coat .element-cst {
  height: 146px;
  left: 25px;
  top: 17px;
  width: 140px;
}

.cart .overlap-group-2.product-0-man-jacket-color-choosing .element-cst {
  height: 176px;
  left: 4px;
  top: 2px;
  width: 182px;
}

.cart .overlap-group-2.product-0-cart .element-cst {
  height: 146px;
  left: 25px;
  top: 17px;
  width: 140px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-keyboard .element-cst {
  height: 101px;
  left: 0;
  top: 40px;
  width: 190px;
}

.cart .overlap-group-2.product-0-just-for-your-cart-gamepad .element-cst {
  height: 152px;
  left: 9px;
  top: 14px;
  width: 172px;
}

.cart .overlap-group-2.product-0-cart-with-colour-chose .element-cst {
  height: 129px;
  left: 6px;
  top: 26px;
  width: 178px;
}

.cart .overlap-group-2.product-0-bestselling-bookself .element-cst {
  height: 176px;
  left: 25px;
  top: 3px;
  width: 140px;
}

.cart .overlap-group-2.product-0-beauty-product-no-discount .element-cst {
  height: 129px;
  left: 6px;
  top: 26px;
  width: 178px;
}

.cart .overlap-group-2.product-0-wishlist-cart-with-no-discount .element-cst {
  height: 95px;
  left: 0;
  top: 47px;
  width: 190px;
}

.cart .overlap-group-2.product-0-cart-hover .element-cst {
  height: 129px;
  left: 6px;
  top: 26px;
  width: 178px;
}

.cart .overlap-group-2.product-0-laptop-no-discount .element-cst {
  height: 180px;
  left: 9px;
  top: 0;
  width: 172px;
}

.cart .overlap-group-2.product-0-cart-with-no-discount .element-cst {
  height: 129px;
  left: 6px;
  top: 26px;
  width: 178px;
}

.cart .frame-13.product-4-bestselling-cooling-fan .element-5 {
  color: var(--secondary-2);
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-kids-car-with-color-choosing .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-dog-food-no-discount .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-soccer-boat-color-choosing .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-wishlist-cart-with-discount .element-5 {
  color: var(--secondary-2);
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-just-for-your-cart-bag .element-5 {
  color: var(--secondary-2);
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-product-5 .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-bestselling-guccibag .element-5 {
  color: var(--secondary-2);
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-dslr-camera-no-discount .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-gaming-control-color-choosing .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-bestselling-coat .element-5 {
  color: var(--secondary-2);
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-man-jacket-color-choosing .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-cart .element-5 {
  color: var(--secondary-2);
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-cart-with-colour-chose .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-beauty-product-no-discount .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-cart-hover .element-5 {
  color: var(--secondary-2);
  font-family: var(--title-16px-medium-font-family);
  font-size: var(--title-16px-medium-font-size);
  font-style: var(--title-16px-medium-font-style);
  font-weight: var(--title-16px-medium-font-weight);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-laptop-no-discount .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-cart-with-no-discount .element-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
}

.cart .frame-13.product-4-bestselling-cooling-fan .element-7 {
  color: var(--button);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  opacity: 0.5;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-kids-car-with-color-choosing .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-dog-food-no-discount .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-soccer-boat-color-choosing .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-wishlist-cart-with-discount .element-7 {
  color: var(--button);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  opacity: 0.5;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-just-for-your-cart-bag .element-7 {
  color: var(--button);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  opacity: 0.5;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-product-5 .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-bestselling-guccibag .element-7 {
  color: var(--button);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  opacity: 0.5;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-dslr-camera-no-discount .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-gaming-control-color-choosing .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-bestselling-coat .element-7 {
  color: var(--button);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  opacity: 0.5;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-man-jacket-color-choosing .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-cart .element-7 {
  color: var(--button);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  opacity: 0.5;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-cart-with-colour-chose .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-beauty-product-no-discount .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-cart-hover .element-7 {
  color: var(--button);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  opacity: 0.5;
  text-decoration: line-through;
  white-space: nowrap;
  width: fit-content;
}

.cart .frame-13.product-4-laptop-no-discount .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-cart-with-no-discount .element-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.cart .frame-13.product-4-bestselling-cooling-fan .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-kids-car-with-color-choosing .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-dog-food-no-discount .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-jacket-with-wishlist .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-soccer-boat-color-choosing .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-wishlist-cart-with-discount .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-just-for-your-cart-monitor .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-just-for-your-cart-bag .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-product-5 .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-bestselling-guccibag .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-dslr-camera-no-discount .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-gaming-control-color-choosing .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-gamepad-wishlist .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-bestselling-coat .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-man-jacket-color-choosing .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-cart .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-just-for-your-cart-keyboard .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-just-for-your-cart-gamepad .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-cart-with-colour-chose .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-bestselling-bookself .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-beauty-product-no-discount .element-8 {
  width: 40px;
}

.cart .frame-13.product-4-wishlist-cart-with-no-discount .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-cart-hover .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-laptop-no-discount .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-cart-with-no-discount .element-8 {
  width: 32px;
}

.cart .frame-13.product-4-bestselling-cooling-fan .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-kids-car-with-color-choosing .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-dog-food-no-discount .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-jacket-with-wishlist .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-soccer-boat-color-choosing .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-wishlist-cart-with-discount .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-just-for-your-cart-monitor .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-just-for-your-cart-bag .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-product-5 .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-bestselling-guccibag .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-dslr-camera-no-discount .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-gaming-control-color-choosing .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-gamepad-wishlist .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-bestselling-coat .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-man-jacket-color-choosing .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-cart .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-just-for-your-cart-keyboard .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-just-for-your-cart-gamepad .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-cart-with-colour-chose .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-bestselling-bookself .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-beauty-product-no-discount .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-wishlist-cart-with-no-discount .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-cart-hover .element-9 {
  width: 32px;
}

.cart .frame-13.product-4-laptop-no-discount .element-9 {
  width: 40px;
}

.cart .frame-13.product-4-cart-with-no-discount .element-9 {
  width: 32px;
}
