.services-fast {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.services-fast .overlap-group-wrapper {
  height: 80px;
  position: relative;
  width: 80px;
}

.services-fast .overlap-group-5 {
  height: 80px;
  position: relative;
}

.services-fast .services-instance {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3c518dc4b6968a56ff7d98e40f0e2d97/img/ellipse-6-13.svg) !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.services-fast .icon-delivery {
  height: 40px !important;
  left: 20px !important;
  position: absolute !important;
  top: 20px !important;
  width: 40px !important;
}

.services-fast .frame-15 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.services-fast .text-wrapper-13 {
  color: #000000;
  font-family: var(--title-20px-semibold-font-family);
  font-size: var(--title-20px-semibold-font-size);
  font-style: var(--title-20px-semibold-font-style);
  font-weight: var(--title-20px-semibold-font-weight);
  letter-spacing: var(--title-20px-semibold-letter-spacing);
  line-height: var(--title-20px-semibold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.services-fast .p {
  color: #000000;
  font-family: var(--title-14px-regular-font-family);
  font-size: var(--title-14px-regular-font-size);
  font-style: var(--title-14px-regular-font-style);
  font-weight: var(--title-14px-regular-font-weight);
  letter-spacing: var(--title-14px-regular-letter-spacing);
  line-height: var(--title-14px-regular-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
